Cvicenie07/InsuranceCompanyClient/src/wsdl/localhost_8080/InsuranceService/InsuranceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://insurancecompanyws.asos.matus.sk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://insurancecompanyws.asos.matus.sk/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="chcekContract" type="tns:chcekContract"/>

<xs:element name="chcekContractResponse" type="tns:chcekContractResponse"/>

<xs:complexType name="chcekContract">
<xs:sequence>
<xs:element name="arg0" type="tns:contract" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contract">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="insuredPerson" type="tns:person" minOccurs="0"/>
<xs:element name="owner" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="birthDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="chcekContractResponse">
<xs:sequence>
<xs:element name="return" type="tns:contract" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>