Cvicenie06/CafeteriaClient/src/wsdl/localhost_8080/CafeteriaService/CafeteriaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cafeteriawa.asos.matus.sk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cafeteriawa.asos.matus.sk/" name="CafeteriaService">
<types>
<xsd:schema>
<xsd:import namespace="http://cafeteriawa.asos.matus.sk/" schemaLocation="http://localhost:8080/CafeteriaService/CafeteriaService?xsd=1"/>
</xsd:schema>
</types>
<message name="vytvorJedlo">
<part name="parameters" element="tns:vytvorJedlo"/>
</message>
<message name="vytvorJedloResponse">
<part name="parameters" element="tns:vytvorJedloResponse"/>
</message>
<message name="ponuka">
<part name="parameters" element="tns:ponuka"/>
</message>
<message name="ponukaResponse">
<part name="parameters" element="tns:ponukaResponse"/>
</message>
<message name="info">
<part name="parameters" element="tns:info"/>
</message>
<message name="infoResponse">
<part name="parameters" element="tns:infoResponse"/>
</message>
<message name="zmenPopis">
<part name="parameters" element="tns:zmenPopis"/>
</message>
<message name="zmenPopisResponse">
<part name="parameters" element="tns:zmenPopisResponse"/>
</message>
<message name="NoSuchFieldException">
<part name="fault" element="tns:NoSuchFieldException"/>
</message>
<message name="odstranJedlo">
<part name="parameters" element="tns:odstranJedlo"/>
</message>
<message name="pocetObjednavok">
<part name="parameters" element="tns:pocetObjednavok"/>
</message>
<message name="pocetObjednavokResponse">
<part name="parameters" element="tns:pocetObjednavokResponse"/>
</message>
<message name="pridajJedlo">
<part name="parameters" element="tns:pridajJedlo"/>
</message>
<message name="pridajJedloResponse">
<part name="parameters" element="tns:pridajJedloResponse"/>
</message>
<message name="zmenCenu">
<part name="parameters" element="tns:zmenCenu"/>
</message>
<message name="zmenCenuResponse">
<part name="parameters" element="tns:zmenCenuResponse"/>
</message>
<message name="objednaj">
<part name="parameters" element="tns:objednaj"/>
</message>
<message name="objednajResponse">
<part name="parameters" element="tns:objednajResponse"/>
</message>
<portType name="CafeteriaService">
<operation name="vytvorJedlo">
<input wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/vytvorJedloRequest" message="tns:vytvorJedlo"/>
<output wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/vytvorJedloResponse" message="tns:vytvorJedloResponse"/>
</operation>
<operation name="ponuka">
<input wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/ponukaRequest" message="tns:ponuka"/>
<output wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/ponukaResponse" message="tns:ponukaResponse"/>
</operation>
<operation name="info">
<input wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/infoRequest" message="tns:info"/>
<output wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/infoResponse" message="tns:infoResponse"/>
</operation>
<operation name="zmenPopis">
<input wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/zmenPopisRequest" message="tns:zmenPopis"/>
<output wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/zmenPopisResponse" message="tns:zmenPopisResponse"/>
<fault message="tns:NoSuchFieldException" name="NoSuchFieldException" wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/zmenPopis/Fault/NoSuchFieldException"/>
</operation>
<operation name="odstranJedlo">
<input wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/odstranJedlo" message="tns:odstranJedlo"/>
</operation>
<operation name="pocetObjednavok">
<input wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/pocetObjednavokRequest" message="tns:pocetObjednavok"/>
<output wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/pocetObjednavokResponse" message="tns:pocetObjednavokResponse"/>
</operation>
<operation name="pridajJedlo">
<input wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/pridajJedloRequest" message="tns:pridajJedlo"/>
<output wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/pridajJedloResponse" message="tns:pridajJedloResponse"/>
</operation>
<operation name="zmenCenu">
<input wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/zmenCenuRequest" message="tns:zmenCenu"/>
<output wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/zmenCenuResponse" message="tns:zmenCenuResponse"/>
<fault message="tns:NoSuchFieldException" name="NoSuchFieldException" wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/zmenCenu/Fault/NoSuchFieldException"/>
</operation>
<operation name="objednaj">
<input wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/objednajRequest" message="tns:objednaj"/>
<output wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/objednajResponse" message="tns:objednajResponse"/>
<fault message="tns:NoSuchFieldException" name="NoSuchFieldException" wsam:Action="http://cafeteriawa.asos.matus.sk/CafeteriaService/objednaj/Fault/NoSuchFieldException"/>
</operation>
</portType>
<binding name="CafeteriaServicePortBinding" type="tns:CafeteriaService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="vytvorJedlo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ponuka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="info">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zmenPopis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchFieldException">
<soap:fault name="NoSuchFieldException" use="literal"/>
</fault>
</operation>
<operation name="odstranJedlo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="pocetObjednavok">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pridajJedlo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zmenCenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchFieldException">
<soap:fault name="NoSuchFieldException" use="literal"/>
</fault>
</operation>
<operation name="objednaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchFieldException">
<soap:fault name="NoSuchFieldException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CafeteriaService">
<port name="CafeteriaServicePort" binding="tns:CafeteriaServicePortBinding">
<soap:address location="http://localhost:8080/CafeteriaService/CafeteriaService"/>
</port>
</service>
</definitions>